<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Chat</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Link the Tailwind CSS stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
  <div class="flex flex-col justify-between min-h-screen">
    <header class="flex justify-between items-center p-4 bg-white shadow-md">
      <h1 class="text-xl font-bold">
        Chatting News
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="px-4 py-2 text-white bg-blue-500 rounded-md" id="logout">Logout</button>
        {{else}} 
        <a href="/login" class="px-4 py-2 text-blue-500">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container mt-5 mx-auto flex-grow">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="p-4 bg-white shadow-md">
      <!-- Footer content goes here -->
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
  <script src="../../public/js/signup.js"></script>
</body>
</html>
